{:paths ["src"]
 :deps {
        io.github.kotoba-lang/http-http
        {:git/url "https://github.com/kotoba-lang/http-http.git"
         :git/sha "f7495072017e9c7f04576bd6233f3bd39005688e"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd6605cb6c0efc275e1df1736f6e90d4d73"}}
         :main-opts ["-m" "cognitect.test-runner"]}}}
